/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1280,18,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
	--step--2: clamp(0.69rem, 0.69rem + 0.04vw, 0.72rem);
	--step--1: clamp(0.83rem, 0.81rem + 0.11vw, 0.9rem);
	--step-0: clamp(1rem, 0.96rem + 0.21vw, 1.13rem);
	--step-1: clamp(1.2rem, 1.13rem + 0.34vw, 1.41rem);
	--step-2: clamp(1.44rem, 1.33rem + 0.53vw, 1.76rem);
	--step-3: clamp(1.73rem, 1.57rem + 0.78vw, 2.2rem);
	--step-4: clamp(2.07rem, 1.85rem + 1.12vw, 2.75rem);
	--step-5: clamp(2.49rem, 2.17rem + 1.58vw, 3.43rem);
	--step-6: clamp(2.99rem, 2.55rem + 2.17vw, 4.29rem);
}
