<footer id="colophon" class="site-footer">
	<div class="site-footer__wrap">
		<div class="site-footer__copyright">
			<p>&copy; {% copyrightDate %} Jon Michael Christensen Design</p>
		</div>
        {% include "components/social.njk" %}
	</div>
</footer>