<footer id="colophon" class="">
	<div class="">
		<div class="">
			<p>&copy; {% copyrightDate %} Jon Michael Christensen Design</p>
		</div>
        {% include "components/social.njk" %}
	</div>
</footer>
