<footer id="colophon" class="site-footer">
	<div class="site-footer__inner">
		<p>&copy; {% copyrightDate %} Jon Michael Christensen Design</p>
		<div class="site-footer__social">
			{% include "components/social.njk" %}
		</div>
	</div>
</footer>
