{% set absoluteTitle %}
    {%- if title -%}
        {{title}} | {{metadata.title}}
    {%-else-%}
        {{metadata.description}} | {{metadata.title}}
    {%- endif -%}
{% endset %}
{% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}

<title>{{absoluteTitle}}</title>

<meta name="description" content="{{ metadata.description }}">
<meta name="robots" content="index,follow">
<meta name="generator" content="Eleventy">

<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{absoluteTitle}}" />
<meta property="og:description" content="{{description}}" />
<meta property="og:url" content="{{absolutePostUrl}}" />
<meta property="og:site_name" content="{{metadata.title}}" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="{{metadata.author.twitter}}" />
<meta name="twitter:site" content="{{metadata.author.twitter}}" />

<link rel="canonical" href="{{absolutePostUrl}}" />