/* assets/scss/base/_wordpress.scss */

.alignleft {
	float: left;
	margin: 0.375em 1.75em 1.75em 0;
}

.alignright {
	float: right;
	margin: 0.375em 0 1.75em 1.75em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto 1.75em;
}

.hidden {
	display: none;
}

.screen-reader-text {
	@include visuallyhidden();
}

.clearfix {
	@include clearfix();
}

.gallery {
	@include clearfix();
}

.wp-caption {
	margin-bottom: 1em;

	p {
		color: $gray-dark;
		margin-bottom: 0;
		font-size: $font-small;
	}
}

.wp-editor {
	margin: 1rem;
}