---
layout: layouts/default.njk
templateClass: tmpl-page
---

<div class="entry">
    <div class="entry__header">
        <h1 class="entry__heading">
            <span class="entry__heading-title">{{ title }}</span>
            {% if subheading %}
            <span class="entry__heading-subtitle">{{ subheading }}</span>
            {% endif %}
        </h1>
    </div>
    <div class="entry__inner">
        <div class="entry__content">
            {{ content | safe }}
        </div>
    </div>
</div>
