---
layout: layouts/default.njk
templateClass: tmpl-post
bodyClass: single-post
---

<article class="">
    <header class="">
        <h1 class="">{{ title }}</h1>
        <time class="" datetime="{% dateFormat date %}">
            {% dateFormat date, 'dddd, MMMM D, YYYY' %}
        </time>
    </header>
    <div class="">
        <div class="prose">
            {{ content | safe }}
        </div>
    </div>
</article>
