/* stylelint-disable at-rule-no-unknown */
button,
.button,
[type="button"],
[type="reset"],
[type="submit"] {
	appearance: none;
	background-color: var(--color-bg-body);
	border-color: var(--color-gray-200);
	border-bottom-color: var(--color-primary);
	border-style: solid;
	border-width: 0.125rem;
	box-sizing: inherit;
	color: var(--color-text-headings);
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 0.04em;
	padding: 0.5em 1em;
	text-decoration: none;
	transition-duration: var(--transition-duration);
	transition-property: background-color, border-color, color;
	transition-timing-function: var(--transition-easing);

	@media (prefers-color-scheme: dark) {
		border-color: var(--color-gray-700);
		border-bottom-color: var(--color-primary);
	}

	& * {
		pointer-events: none;
	}

	&:hover {
		border-color: var(--color-primary);
		text-decoration: none;
	}

	&[disabled],
	&:disabled {
		cursor: not-allowed;
	}
}
