.header {
	background-image: linear-gradient(to bottom, transparent, var(--color-black));
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	padding: 5vh 5vw;

	& h1 {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;

		& span:first-child {
			width: 100%;
		}

		& span:last-child {
			background-clip: text;
			background-image: linear-gradient(to right, var(--color-amber-500), var(--color-pink-500));
			color: transparent;
			display: block;
			font-size: var(--step-2);
			font-weight: 200;
		}
	}
}

.header__inner {
	margin: 0 auto;
	max-width: var(--width-xxlarge);
	text-align: center;
	width: 100%;
}
