.metas {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}

.meta {
	flex-basis: 15rem;
	flex-grow: 1;
	margin-bottom: 1em;
	margin-top: 1em;
}

.meta__heading {
	color: inherit;
	font-size: var(--step-0);
	margin-bottom: 0.75rem;
	margin-top: 0;
	padding-bottom: 0.5rem;
	position: relative;

	&::before {
		background-image: linear-gradient(to right, var(--color-amber-500), transparent);
		content: '';
		display: block;
		height: 2px;
		left: 0;
		position: absolute;
		top: 100%;
		width: 100%;
	}
}

.meta__list {
	color: var(--color-gray-300);
	list-style: none;
	margin: 0;
	padding-left: 0;
}
