.site-footer {
	background-color: var(--color-gray-900);
	display: flex;
	flex-wrap: wrap;
	left: 0;
	margin: auto;
	padding: 0 5vw;
	top: 0;
	width: 100%;

	&::before {
		background-image: linear-gradient(to right, transparent, var(--color-gray-700), transparent);
		content: "";
		height: 1px;
		width: 100%;
	}
}

.site-footer__inner {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	max-width: var(--width-xxlarge);
	width: 100%;

	@media (min-width: 40em) {
		flex-wrap: nowrap;
		justify-content: space-between;
	}
}

.site-footer__social {
	align-items: center;

	@media (min-width: 40em) {
		margin-left: auto;
	}
}
