<ul
    class=""
    reversed>
    {% for item in postListItems %}
        <li class="">
            <article class="">
                <div class="">
                    <h3 class="">
                        <a href="{{ item.url }}" rel="bookmark">{{ item.data.title }}</a>
                    </h3>
                    <time class="" datetime="{% dateFormat item.data.date %}">
                        {% dateFormat item.data.date, 'dddd, MMMM D, YYYY' %}
                    </time>
                </div>
                <div class="">
                    <p>{{item.data.description}}</p>
                </div>
                <div class="">
                    <a href="{{ item.url }}" class="">
                        Read more<span class="sr-only"> about "{{ item.data.title }}"</span>
                    </a>
                </div>
            </article>
        </li>
    {% endfor %}
</ul>
