/* assets/scss/components/_widget.scss */

.widget {
	font-size: 1rem;
	flex-grow: 1;
	padding: 2em;
	width: 100%;
	display: flex;

	@include bp( md ) {
		width: 33.33%;
	}

	.widget__inner {
		border-radius: 0.25em;
		display: block;
		padding: 1em;
		background-color: transparentize( $color-black, 0.9 );
		width: 100%;
	}
	.widget__heading {
		margin-bottom: 0.75rem;
		padding-bottom: 0.5rem;
		border-bottom: 2px solid darken( $font-body-color, 50% );
		color: inherit;
		font-size: $font-size-h5;
		font-weight: $font-weight-xbold;
		text-transform: uppercase;
	}
	ul {
		padding-left: 1em;
		margin-bottom: 0;
	}
	a {
		vertical-align: top;
	}
}