<!--
/**
 * JMCDSN - Module : Quote
 *
 * @package jmcdsn
 */
-->
<section class="section section--module section--module-quote">
	{% include 'components/module-base.njk' %}
	<div class="section__module">
		<blockquote class="blockquote">
			{{ module_quote | safe }}
			{% if module_citation %}
				<cite>{{ module_citation | safe }}</cite>
			{% endif %}
		</blockquote>
	</div>
</section>
