/* assets/scss/layouts/_single.scss */

.single-post {
	.entry__inner {
		display: flex;
		flex-wrap: wrap;
		padding: 10vh 10vw;
		justify-content: space-between;
	}
	.entry__header {
		padding: 10vh 10vw;
		min-height: 100vh;
		display: flex;
		background-color: darken( $base-background, 4% );
		flex-direction: column;
		justify-content: center;
	}
	.entry__heading {
		margin-bottom: 0;
	}
	.entry__date {
		@extend .heading--3;

		display: block;
		font-weight: $font-weight-light;
		color: $brand-secondary;
		padding-bottom: 1em;
	}
	.wysiwyg {
		max-width: 35em;
	}
}
.single-post-list {
	padding: 2em 2em 0;
	width: 100%;
	display: flex;

	@include bp( lg ) {
		width: 50%;
	}
	@include bp( xxl ) {
		width: 33.33%;
	}
	.entry {
		padding-bottom: 2em;
		border-bottom: 1px dotted darken( $font-body-color, 50% );
	}
	.entry__heading {
		margin-bottom: 0;
	}
	.entry__date {
		@extend .heading--4;
		color: $brand-secondary;
		display: block;
		font-weight: $font-weight-light;
		margin-bottom: 1em;
	}
}
.single-search {
	padding: 2em 2em 0;
	width: 100%;
	display: flex;

	.entry {
		padding-bottom: 2em;
		border-bottom: 1px dotted darken( $font-body-color, 50% );
	}
	.entry__heading {
		margin-bottom: 0;
	}
	.entry__type {
		@extend .heading--4;
		color: $brand-secondary;
		display: block;
		font-weight: $font-weight-light;
		padding-bottom: 1em;
	}
}