---
layout: layouts/page.njk
permalink: /my-thoughts/
eleventyNavigation:
  key: Blog
  order: 2
title: Blog
subheading: My thoughts about stuff and things
bodyClass: archive
---

{% set postListItems = collections.posts %}
{% set postListItemsCounter = collections.posts | length %}
{% include "components/post-list.njk" %}
{% include "components/pagination.njk" %}
